#toasts {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.toast-container {
    display: flex;
    justify-content: start;
    flex-flow: column-reverse wrap-reverse;
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 100vh;
}