body {
  background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
}

body.cold {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.weather-data {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar {
  float: right;
  margin: 2rem;
  display: flex;
  align-items: center;
}

.toggle {
  width: 20rem;
  margin-right: 1rem;
}

#temperature {
  font-size: 6rem;
  position: relative;
}

#temperature > sup {
  font-size: 2rem;
  position: absolute;
  top: 2rem;
}

#weather-description {
  color: white;
  font-size: 1.5rem;
}
