body {
    margin: 0;
    padding: 0;
}

.container {
    background: #333;
    margin-bottom: 1.7rem;
    padding: 1rem;
}

.draggable {
    background: white;
    margin: 1.3rem 0;
    padding: 1rem;
    cursor: move;
}

.draggable.dragging {
    opacity: 0.5;
}